@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorAppSamsar.Models
@using BlazorAppSamsar.Data
@using Microsoft.EntityFrameworkCore
@using MD.PersianDateTime
@inject DataContext dataContext
@inject NavigationManager nav

<div class="row">
    @if (articles == null)
    {
        <p>در حال بارگذاری...</p>
    }
    else if (!articles.Any())
    {
        <p>هیچ مقاله‌ای یافت نشد.</p>
    }
    else
    {

        @foreach (var article in articles)
        {
            var path = $"images/Articles/{article.Image}";
            <div class="col-sm-6 col-md-4 col-xl-3  mt-3 shadow col">
                <MudCard>
                    <!-- تصویر نویسنده -->
                    <MudCardMedia Image="@path" Height="250" />

                    <MudCardContent>
                        <!-- نام نویسنده -->
                        <MudText Typo="Typo.h5">@article.Title</MudText>
                        <br />
                        <!-- توضیح کوتاه مقاله -->
                        <MudText Typo="Typo.body2">
                            @GetPreview(article.Content, 50)
                        </MudText>
                        <p class="mt-5" >
                        <p> @article.AuthorName</p>
                        
                            <span style="float:right">
                            <p> 
                             @article.Views  
                             <MudIcon Icon="@Icons.Material.Filled.RemoveRedEye" />
                            </p>
                            </span>
                        
                            <span style="float:left">  
                                <p>
                                @(new PersianDateTime(article.Cdate).ToShortDate1String())
                                <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" />
                                </p>
                        </span>
                        </p>

                        <a href="/articles/view/@article.Id" class="d-block m-auto mt-15 ">
                            دیدن ادامه مقاله ⇚
                        </a>

                    </MudCardContent>

                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary"
                                   @onclick='() => nav.NavigateTo("/articles/view/{article.Id}")'>
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </div>
        }

    }
</div>

@code {
    private List<Article> articles;

    protected override async Task OnInitializedAsync()
    {
        // فقط مقالات منتشر شده
        articles = await dataContext.Articles
                                    .Where(a => a.IsPublish)
                                    .OrderByDescending(a => a.Cdate)
                                    .ToListAsync();
    }

    private static string GetPreview(string html, int max = 50)
    {
        if (string.IsNullOrWhiteSpace(html)) return string.Empty;
        var noTags = System.Text.RegularExpressions.Regex.Replace(html, "<.*?>", string.Empty);
        return noTags.Length <= max ? noTags : noTags.Substring(0, max) + "…";
    }

}




