@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorAppSamsar.Models
@using BlazorAppSamsar.Data
@using Microsoft.EntityFrameworkCore
@using MD.PersianDateTime
@inject DataContext dataContext
@inject NavigationManager nav
@rendermode InteractiveServer
<div class="row">
    @if (articles == null)
    {
        <p>در حال بارگذاری...</p>
    }
    else if (!articles.Any())
    {
        <div style="margin-top:150px">
            <img src="/images/download.png" style="width:600px;height:300px;border-radius:5%;display:block;margin:auto" />
            <p class="text-center mt-3">هیچ مقاله‌ای یافت نشد !</p>
            <div class="text-center">
            </div>
        </div>
    }
    else
    {

        @foreach (var article in articles)
        {
            var path = $"images/Articles/{article.Image}";
            <div class="col-sm-6 col-md-4 col-xl-3  mt-3 shadow col position-relative">
                <MudCard>
                    <MudCardMedia Image="@path" Height="250" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">@article.Title</MudText>
                        <br />
                        <MudText Typo="Typo.body2">
                            @GetPreview(article.Content, 50)
                        </MudText>
                        <p class="mt-5">
                            <div class="position-absolute" style="top:10px;right:30px;background-color:skyblue;border-radius:15%">
                            <span style="color:black;margin:7px 7px 7px 7px" >
                                @article.AuthorName
                            </span>
                            </div>
                            <span style="float:right">
                                <p>
                                    @article.Views
                                    <MudIcon Icon="@Icons.Material.Filled.RemoveRedEye" />
                                </p>
                            </span>

                            <span style="float:left">
                                <p>
                                    @(new PersianDateTime(article.Cdate).ToShortDate1String())
                                    <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" />
                                </p>
                            </span>
                        </p>
                        <div style="margin-top:70px; margin-bottom:-30px">
                            <a href="/articles/view/@article.Id" class="m-auto d-block btn btn-sm btn-outline-info">
                           ادامه مطلب ⇚
                        </a>
                        </div>
                    </MudCardContent>

                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary"
                                   @onclick='() => nav.NavigateTo("/articles/view/{article.Id}")'>
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </div>
        }

    }
</div>

@code {
    private List<Article> articles;

    protected override async Task OnInitializedAsync()
    {
        // فقط مقالات منتشر شده
        articles = await dataContext.Articles
                                    .Where(a => a.IsPublish)
                                    .OrderByDescending(a => a.Cdate)
                                    .ToListAsync();
    }

    private static string GetPreview(string html, int max = 50)
    {
        if (string.IsNullOrWhiteSpace(html)) return string.Empty;
        var noTags = System.Text.RegularExpressions.Regex.Replace(html, "<.*?>", string.Empty);
        return noTags.Length <= max ? noTags : noTags.Substring(0, max) + "…";
    }

}




